DATABASE_URL="postgresql://notarix_prod:PasswordHere@notary-portal-db.cc7424ui28qa.us-east-1.rds.amazonaws.com:5432/postgres?schema=public&sslmode=require&sslrootcert=us-east-1-bundle.pem"
AWS_SES_REGION="us-east-#"
AWS_SES_FROM_EMAIL="support@notarix.live"
AWS_SES_TO_EMAIL="support@notarix.live"
AWS_ACCESS_KEY_ID="YOUR_AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="YOUR_AWS_SECRET_ACCESS_KEY"